extends layout

block content
  div.header
    h1.ChannelTitle

  .Grid
    each block in (contents.reverse())
      div.topo
          div.arrowin
          div.swing= (block.user.first_name + " " + block.user.last_name)

      div.polo
        if block.content_html
          div.letter!= (block.content_html)
        if block.image
          a.GridBlock(
              style='width: 100%;'
            )
              img(src=block.image.display.url)
