html {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  margin: auto;
  padding: 0;
  font-family: 'Lustria', serif;
  font-size: 18px;
  line-height: 1.73;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  width: 800px;

}

a {
  color: gray;
  text-decoration: none;
}

img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  font-weight: normal;
  font-size: 100%;
}

.header {
  width: 100%;
  border-bottom: 1px solid black;
}

.ChannelTitle {
  height: 40px;
  width: 200px;
  background-image: url(../recomposition.i.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Block {
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-bottom: 1px solid black;
}
  .Block > img {
    max-width: 100%;
    max-height: 100%;
  }

.grid {
  width: 800px;
  margin: 5px;
}

.topo {
  margin-top: 60px;
  display: inline-flex;

}


.swing {
  font-family: 'Black Han Sans', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  float: left;
  padding-bottom: 60px;
}


.letter {
  font-size: 20px;
  width: 85%;
  float: none;
  clear: both;
  padding-left: 70px;
}

.arrowin {
  height: 40px;
  width: 50px;
  background-image: url(../name.arrow.i.png);
  background-size: contain;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
